<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		https://www.springframework.org/schema/security/spring-security.xsd">


    <security:http auto-config="true">

<!--        <security:intercept-url pattern="/" access="permitAll()"/>-->
<!--        <security:intercept-url pattern="/my-login" access="permitAll()"/>-->
<!--        <security:intercept-url pattern="/signin" access="permitAll()"/>-->
        <security:intercept-url pattern="/**" access="permitAll()"/>

        <security:form-login
            login-page="/my-login"
        />
        <security:logout
        />

    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="user" password="{noop}user" authorities="ROLE_USER"/>
                <security:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="mvcHandlerMappingIntrospector" class="org.springframework.web.servlet.handler.HandlerMappingIntrospector">

    </bean>

</beans>