<?xml version="1.0" encoding="UTF-8"?>
<Context>
<Resource name="jdbc/myDataSource" auth="Container" type="javax.sql.DataSource"
          driverClassName="org.hsqldb.jdbcDriver"
          url="jdbc:hsqldb:mem:testdb"
          username="SA" password=""
          maxActive="100" maxIdle="20" minIdle="5" maxWait="10000"/>
</Context>