<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">


    <context:component-scan base-package="ru.caloriemanager.aop"/>
    <context:component-scan base-package="ru.caloriemanager.repository"/>
    <context:component-scan base-package="ru.caloriemanager.service"/>
    <context:component-scan base-package="ru.caloriemanager.web"/>

    <!--SPRING AOP SETUP-->
    <aop:aspectj-autoproxy/>
    <aop:config>
        <aop:aspect ref="loggerAspect">
        </aop:aspect>
    </aop:config>

    <bean class="org.springframework.beans.factory.config.MethodInvokingBean">
        <property name="staticMethod" value="org.slf4j.bridge.SLF4JBridgeHandler.install"/>
    </bean>

    <!--HSQLDB Profile-->
    <beans profile="hsqldb">
        <!--DATA BASE SETUP-->
        <context:property-placeholder location="classpath:db/hsqldb.properties" system-properties-mode="OVERRIDE"/>
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="${database.driver-class-name}"/>
            <property name="url" value="${database.url}"/>
            <property name="username" value="${database.username}"/>
            <property name="password" value="${database.password}"/>
        </bean>
        <jdbc:initialize-database data-source="dataSource" enabled="true">
            <jdbc:script encoding="utf-8" location="classpath:db/scripts/hsql/hsqlInitRole.sql"/>
            <!--add data for tests-->
            <jdbc:script encoding="utf-8" location="classpath:db/scripts/hsql/testData/addTestData.sql"/>
        </jdbc:initialize-database>
        <!--HIBERNATE SETUP-->
        <bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
            <property name="dataSource" ref="dataSource"/>
            <property name="packagesToScan" value="ru.caloriemanager.entity"/>
            <property name="jpaVendorAdapter">
                <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
            </property>
            <property name="jpaProperties">
                <props>
                    <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                    <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                    <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                    <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                    <prop key="hibernate.jdbc.time_zone">${hibernate.jdbc.time_zone}</prop>
                </props>
            </property>
        </bean>
        <!--JPA TRANSACTION MANAGER SETUP-->
        <tx:annotation-driven/>
        <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
            <property name="entityManagerFactory" ref="emf"/>
        </bean>
    </beans>

    <!--POSTGRESQL Profile-->
    <beans profile="postgres">
        <!--DATA BASE SETUP-->
        <context:property-placeholder location="classpath:db/postgres.properties" system-properties-mode="OVERRIDE"/>
        <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
            <property name="driverClassName" value="${database.driver-class-name}"/>
            <property name="url" value="${database.url}"/>
            <property name="username" value="${database.username}"/>
            <property name="password" value="${database.password}"/>
        </bean>
        <jdbc:initialize-database data-source="dataSource" enabled="true">
            <jdbc:script encoding="utf-8" location="classpath:db/scripts/postgres/initTableRoles.sql"/>
        </jdbc:initialize-database>
        <!--HIBERNATE SETUP-->
        <bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
            <property name="dataSource" ref="dataSource"/>
            <property name="packagesToScan" value="ru.caloriemanager.entity"/>
            <property name="jpaVendorAdapter">
                <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
            </property>
            <property name="jpaProperties">
                <props>
                    <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                    <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                    <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                    <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                    <prop key="hibernate.jdbc.time_zone">${hibernate.jdbc.time_zone}</prop>
                </props>
            </property>
        </bean>
        <!--JPA TRANSACTION MANAGER SETUP-->
        <tx:annotation-driven/>
        <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
            <property name="entityManagerFactory" ref="emf"/>
        </bean>
    </beans>
</beans>