<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		https://www.springframework.org/schema/security/spring-security.xsd">


    <security:http auto-config="true">

        <security:intercept-url pattern="/resources/**" access="permitAll()"/>
        <security:intercept-url pattern="/" access="permitAll()"/>
        <security:intercept-url pattern="/customLogin" access="permitAll()"/>
        <security:intercept-url pattern="/doLogout" access="permitAll()"/>
        <security:intercept-url pattern="/logout" access="permitAll()"/>
        <security:intercept-url pattern="/registration" access="permitAll()"/>
        <security:intercept-url pattern="/users/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <security:intercept-url pattern="/meals/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>

        <security:form-login
                login-page="/customLogin"
                login-processing-url="/doLogin"
                authentication-success-forward-url="/postLogin"
                authentication-failure-forward-url="/loginFailed"
                username-parameter="{noop}email"
                password-parameter="{noop}password"
        />
        <security:logout
                logout-success-url="/logout"
        />

    </security:http>

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <bean id="mvcHandlerMappingIntrospector" class="org.springframework.web.servlet.handler.HandlerMappingIntrospector"/>

</beans>