<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">


    <context:component-scan base-package="ru.caloriemanager.aop"/>
    <context:component-scan base-package="ru.caloriemanager.repository.inMemory"/>
    <context:component-scan base-package="ru.caloriemanager.service"/>
    <context:component-scan base-package="ru.caloriemanager.web"/>

    <!--DATA BASE SETUP-->
    <context:property-placeholder location="classpath:db/postgres.properties" system-properties-mode="OVERRIDE"/>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${database.driver-class-name}"/>
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>
    <!--    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
    <!--        <constructor-arg ref="dataSource"/>-->
    <!--    </bean>-->

    <!--SPRING AOP SETUP-->
    <aop:aspectj-autoproxy/>
    <aop:config>
        <aop:aspect ref="loggerAspect">
            <aop:before method="beforeGetAdvice"
                        pointcut="execution(* ru.caloriemanager.web.meal.*.get(int)) &amp;&amp; args(id)"/>
        </aop:aspect>
    </aop:config>

</beans>